.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  @font-face {
    font-family:'MessinaSansTrial';
    src: url('MessinaSansWebTrial-Book.woff2') format('woff2'),
         url('MessinaSansWebTrial-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* background-color: #315956; */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


  .rectangle {
    height: 70px;
    width: 100px;
    border-style: solid;
    border-color: gray;
  }

  body{
    color: #333;
    font-family:'MessinaSansTrial';
    font-weight: 300;
    font-style: normal;
    line-height: 1.1;
      
    font-feature-settings:'kern';        /* turns on kerning */ 
    text-rendering: optimizeLegibility;  /* emphasise on legibility when rendering, turns on ligatures and kerning */    
    -webkit-font-smoothing: antialiased; /* apply font anti-aliasing for Webkit on OSX */    
    -moz-osx-font-smoothing: grayscale;  /* apply font anti-aliasing for Firefox on OSX */
    }

    a:hover {
      -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
      -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
  }

  .pictures{
text-align: center;
  }
  