.App {
  text-align: left;
  /* TODO: change fonts to modern design guidelines  */
  font-family: 'Helvetica', 'Courier New', monospace;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    font-size: calc(3em + 2vmin);
    animation: App-logo-spin infinite 20s linear;
  }
}

.experience-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #B3A369; 

}

.projects-content-svgs{
  /* there's no need to write anything here yet */
}

.projects-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.centered{
  display: flex;
  justify-content: center;
  color: 'black';
  text-align: 'left';
}

.projects{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  background-color: #003057;  
  text-align: justify;
  color : white;
}

.App-header {
  background-color: #010203;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


span:hover{
  color: #61dafb;
}